<head xmlns:th="http://www.w3.org/1999/xhtml">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<div th:fragment="sidebar(activePage)" class="sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <h4>Admin Panel</h4>

    <ul class="nav-list">
        <li>
            <a th:href="@{/admin/dashboard}"
               th:classappend="${activePage=='dashboard'} ? 'active'">
                Dashboard
            </a>
        </li>
        <li>
            <a th:href="@{/admin/funding}"
               th:classappend="${activePage=='funding'} ? 'active'">
                Funding's
            </a>
        </li>
        <li>
            <a th:href="@{/admin/proposal-management}"
               th:classappend="${activePage=='proposal-management'} ? 'active'">
                Proposals
            </a>
        </li>
        <li>
            <a th:href="@{/admin/proposal-request}"
               th:classappend="${activePage=='proposal-request'} ? 'active'">
                Proposal Requests
            </a>
        </li>
    </ul>
</div>
