<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:fragment="mainHeader" class="main-header">
    <div class="container">
        <h1>Loanhub Kenya</h1>
        <nav>
            <a th:href="@{/}">Home</a>
            <a th:href="@{/funding}">Funding</a>
            <a th:href="@{/proposal}">Proposals</a>
            <a th:href="@{/proposals/request}">Proposal writing Request/Tracking</a>
            <a th:href="@{/blog}">Blog/Resources</a>
            <a th:href="@{/about}">About Us</a>
            <a th:href="@{/inquiry}">Inquiry Form</a>
        </nav>
    </div>
</header>
</body>
</html>
